
.row-spacing {
    margin-bottom: 4rem;
}

a:active,
a.active {
    color: black !important;
}

a {
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.container {
    width: 850px;
    margin: 0 auto;
}

.is-invalid {
    border: 2px solid red;
}

.form-section {
    margin-bottom: 2rem;
}

.form-section .remove-btn {
    display: inline-block;
    margin-top: 10px;
    color: red;
    cursor: pointer;
}